@page "/palace/{PalaceName}/services"
<PageTitle>Palace @PalaceInfo.HostName service list</PageTitle>

<h3>Palace @PalaceInfo.HostName service list</h3>

<br />
<a href="/palace/@PalaceInfo.Key/EditService/new" class="btn btn-success">Add Service</a>
<br />
<br />

<Tabs>
	<Tab Name="List">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ServiceName</th>
					<th>AdminServiceUrl</th>
					<th>Arguments</th>
					<th>MainAssembly</th>
					<th>PackageFileName</th>
					<th>PalaceApiKey</th>
					<th>SSLCertificate</th>
					<th>AlwaysStarted</th>
					<th colspan="2"></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in PalaceInfo.MicroServiceSettingsList)
				{
					var ico = bagList.SingleOrDefault(i => i.Item.ServiceName == item.ServiceName);
					if (ico == null)
					{
						ico = new Bag<MicroServiceSettings>()
							{
								Content = "oi oi-clipboard",
								Item = item
							};
						bagList.Add(ico);
					}
					<tr>
						<td>
							<a href="/palace/@PalaceInfo.Key/EditService/@item.ServiceName">
								@item.ServiceName
							</a>
						</td>
						<td>@item.AdminServiceUrl</td>
						<td>@item.Arguments</td>
						<td>@item.MainAssembly</td>
						<td>@item.PackageFileName</td>
						<td>@item.PalaceApiKey</td>
						<td>@item.SSLCertificate</td>
						<td>
							@item.AlwaysStarted
						</td>
						<td>
							<button title="Copy json to clipboard" class="btn btn-primary" @onclick="() => CopyToClipboard(item)">
								<i class="@ico.Content"></i>
							</button>
						</td>
						<td>
							<button class="btn btn-danger" @onclick="() => ConfirmRemove(item.ServiceName)">Remove</button>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</Tab>
	<Tab Name="JSon">
		<EditForm Model="@jsonServicesContent" OnSubmit="ValidateAndSave">
			<ValidationSummary></ValidationSummary>
			<DataAnnotationsValidator />
			<CustomValidator @ref="customValidator"></CustomValidator>

			<div class="mb-3">
				<InputTextArea @bind-Value="@jsonServicesContent" class="w-100" rows="25">

				</InputTextArea>
			</div>
			<button type="submit" class="btn btn-primary">Save</button>
		</EditForm>
	</Tab>
</Tabs>


<Toast @ref="toast" />



<ConfirmDialog Title="Confirm remove" @ref="ConfirmDialog" Accept="RemoveService"></ConfirmDialog>