@page "/hosts"

<PageTitle>Palace Server - Hosts</PageTitle>

<h2>Palaces</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Host Name</th>
            <th>Version</th>
            <th>Os</th>
            <th>Machine Name</th>
            <th>Ip</th>
            <th>Last Hit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in PalaceInfoList)
       {
        <tr>
            <td>
                <a href="/palace/configuration/@item.Key">
                    @item.HostName
                </a>
            </td>
            <td>@item.Version</td>
            <td>@item.Os</td>
            <td>@item.MachineName</td>
            <td>@item.Ip</td>
            <td>@item.LastHitDate</td>
        </tr>
       }
    </tbody>
</table>


