@page "/"

<PageTitle>Palace Server - Dashboard</PageTitle>

<h2>Available service list :</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Service Name</th>
            <th>Zip File</th>
            <th>Date</th>
            <th>Locked By</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in AvailableMicroServiceList)
       {
        <tr>
            <td>@item.ServiceName</td>
            <td>@item.ZipFileName</td>
            <td>@item.LastWriteTime</td>
            <td>@item.LockedBy</td>
        </tr>
       }
    </tbody>
</table>

<h2>Palace list :</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Host Name</th>
            <th>Os</th>
            <th>Machine Name</th>
            <th>Ip</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in PalaceInfoList)
       {
        <tr>
            <td>
                <a href="/palace/configuration/@item.Key">
                    @item.HostName
                </a>
            </td>
            <td>@item.Os</td>
            <td>@item.MachineName</td>
            <td>@item.Ip</td>
        </tr>
       }
    </tbody>
</table>


<h2>Running service list :</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Host</th>
            <th>Service Infos</th>
            <th>Started Date</th>
            <th>Last update date</th>
            <th>Service State</th>
            <th>Thread Count</th>
            <th>Working Set</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in RunningMicroServiceList)
       {
        <tr @key=item>
            <td>
                @item.PalaceInfo.Key
            </td>
            <td>
                    @{
                        var workingSet = item.PeakWorkingSet / 1024;
                    }
                <b>@item.ServiceName @item.Version</b> <br/>
                @item.Location<br/>
                Last Write Time : @item.LastWriteTime<br/>
                User Interactive : @item.UserInteractive<br/>
                Command Line : @item.CommandLine<br/>
                Process Id : @item.ProcessId 
            </td>
            <td>@item.StartedDate</td>
            <td>@item.LastUpdateDate</td>
            <td>@item.ServiceState</td>
            <td>@item.ThreadCount</td>
            <td>@workingSet.ToString("# ###") K</td>
            <td>
                <button class="btn btn-primary" @onclick="() => Start(item)">Start</button>
                <button class="btn btn-primary" @onclick="() => Stop(item)">Stop</button>
                <!--<button class="btn btn-primary">Restart</button>-->
            </td>
        </tr>
       }
    </tbody>
</table>