@page "/"

<PageTitle>Palace Server - Dashboard</PageTitle>

<h2>Running services</h2>

@foreach (var host in RunningMicroServiceList.GroupBy(i => i.PalaceInfo))
{
    <h3>@host.Key.Key</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Service Infos</th>
            <th>Started Date</th>
            <th>Last update date</th>
            <th>Service State</th>
            <th>Thread Count</th>
            <th>Working Set</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in host.OrderBy(i => i.ServiceName))
       {
        <tr @key=item>
            <td>
                    @{
                        var workingSet = item.PeakWorkingSet / 1024;
                    }
                <b>@item.ServiceName @item.Version</b> <br/>
                Last Write Time : <b>@item.LastWriteTime</b><br/>
                User Interactive : <b>@item.UserInteractive</b><br/>
                Command Line : <b>@item.CommandLine</b><br/>
                Process Id : <b>@item.ProcessId</b><br/>
                Environment : <b>@item.EnvironmentName</b><br/>
                AdminUrl : <b>@item.AdminUrl</b><br/>
                PalaceClientVersion : <b>@item.PalaceClientVersion</b><br/>
            </td>
            <td>@item.StartedDate</td>
            <td>@item.LastUpdateDate</td>
            <td><b>@item.ServiceState</b></td>
            <td>@item.ThreadCount</td>
            <td>@workingSet.ToString("# ###") K</td>
            <td>
                @if (item.ServiceState == "Offline")
                {
                    <button class="btn btn-primary" @onclick="() => Start(item)">Start</button>            
                }
                
                @if (item.ServiceState == "Started")
                {
                    <button class="btn btn-danger" @onclick="() => Stop(item)">Stop</button>
                }
            </td>
        </tr>
       }
    </tbody>
</table>    
}

